:root{
    --menu-elements: rgb(77, 77, 77);
}
section#welcome_section{
    width: 100%;
    margin: 60px 0;
    height: auto;
}
div#welcome_box{
    display: block;
    width: 70%;
    margin: auto;
    text-align: center;
}
div.welcome_message{
    display: flex;
    margin: 20px 0;
    justify-content: center;
}
div.welcome_message > h1{
    align-self: center;
}