:root{
    --color-table-head: rgb(205, 205, 205);
    --color-border-table : black;
}
section#administration_tittle{
    text-align: center;
}
main{
    width: 100%;
    margin: 50px auto;
}
table{
    width: 75%;
    margin: auto;
    text-align: center;
    border: 1px solid var(--color-border-table);
}
table tr th{
    padding: 30px 0;
    background-color: var(--color-table-head);
    border: 1px solid var(--color-table-head);
}
table tr td{
    padding: 8px 0;
    font-size: 1.4rem;
    border: 1px solid var(--color-table-head);
    margin: 0;
}
table img.icon {
    width: 80px;
}
table img.icon.trash {
    width: 60px;
}
button.button{
    background: none;
    border: none;
}
button.button:hover{
    cursor: pointer;
}
